.temperature-chart {
    margin: 20px auto;
    background-color: rgba(11, 111, 118, 0.362);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .temperature-chart canvas {
    border-radius: 10px; 
  }