
.container{
    height: 620px;
    width: 1170px;
    margin:auto;
    margin-top: 20px;
    border-radius: 25px;
    padding: 35px;
    background-color: #533ab751; 
    color: #333; 
    
}
.top{
    display: flex;
    gap: 150px;
    align-items: center;
}

.top-right{
    margin-top: 100px;
}


.weather-image{
    height: 20px;
}
.logos{
    display: flex;
    height: 70px;
    padding-bottom: 19px;

}
.logos-image{
    height: 70px;


}
.search{
    
    margin-top:8px;
    margin-bottom: 12px;
}
.area-weather{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.area{
    display: flex;
    align-items: center;
    gap: 15px;
}
.weather{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 4px solid rgba(210, 233, 39, 0.889);
    padding: 0 15px 0 0;
    margin-right: 20px;
    border-radius: 45px;
}
.first-layer{
    display: flex;
    gap: 100px;
}
.trans-weather{
    background-color: rgba(11, 111, 118, 0.362);
    display: inline-block;
    border-radius: 20px;
    padding-left:25px;
    margin-bottom: 11px;
}
.data{
    display: flex;
    gap: 70px;
    margin: 0 60px 0 30px  ;
    color: rgb(255, 255, 255);
}
.data h2{
    display: flex;
    gap: 15px;
}
.right-side h3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left-side h3{
    display: flex;
    align-items: center;
    gap: 10px;
}


